.header{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    width:500px;
    height:500px;
    background-color: antiquewhite;
    margin:10px;
    border-radius: 15px;
}
.item ul li {
    font-size: 15px;
}